*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: orange;
  border: solid 1px black;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Fredoka', sans-serif;
  width: 70%;
  margin: 0 auto;
  max-width: 1800px;
}

h1{
  color: #DB165E;
  text-align: center;
  font-weight: 600;
  padding: 50px;
}

div p{
  text-align: center;
  margin-bottom: 50px;

}

.col{
  height: auto;
  width: calc(95% / 3);
  background-color: black;
  display: block;
  box-shadow:1px 1px 10px 1px grey;
  float: left;
}

.col:nth-last-child(2){
  margin-left: 22px;
  margin-right: 22px;
}

section{
  margin-bottom: 30px;
}

img{
  height: 80px;
  float: left;
}

ul{
  color: white;
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}

li{
  padding-top: 6px;
}

.email{
  color: #30B2F1;
}

strong{
  text-transform: uppercase;
}

.professione{
  font-size: 12px;
}